<table class="table">
    <thead class="encabezado">
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
            <td><img [src]="product.image" [alt]="product.product"></td>
            <td>{{product.product}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price | currency}}</td> 
            <td><span class="sinStock" *ngIf="product.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer *ngIf="product.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>