.encabezado{
    background-color: rgb(250, 250, 133);
}

td img{
    max-width: 100px;
}

.sinStock{
    background-color: lightcoral;
    color: white;
    padding: 5px;
}

.clearance{
    border: 2px solid rgb(34, 145, 173);
    background-color: rgb(187, 232, 247);
}

div{
    padding: 10px;
    color: lightcoral;
}

th{
    display: flexs;
    text-align: center;
}
i{
    background-color:lightcoral;
    color: white;
    padding: 8px;
}
.btn{
    margin: 0;
}

