<div class="contacto">    
    <h5>Consultanos!</h5>
    <form>
        <div class="form-group" id="formContacto">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
            <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Email">
            <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mandanos tu consulta"></textarea>
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
