.logo{
    max-width: 200px;
}

.row div{
    padding: 20px;
    color: lightcoral;
}

footer{
    background-image: url(../assets/img/fondoTabla.png);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarNav{
    display: flex;
    justify-content: flex-end
}

.nav-link:hover{
    border-bottom: 2px solid lightcoral;
}

.container{
     padding: 30px;
}